.App {
  font-size: normal;
  display: flex;
  flex-direction: column;
  /* align-items: center;  */
 /* justify-content: center; */
  width: 100%;
}
html {
  background-color: #282c34;
  overflow-x: hidden;
}
p,
a {
  font-size: medium;
}
.poster {
  height: 20vmin;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.posterCon {
  height: 20vmin;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 5%;
}
.contentImg {
  height: 35vmin;
  margin: 3%;
}
.content {
  text-align: left;
  margin: 30px;
  padding: 10px;
  max-width: 500px;
}
.movieCon {
  margin: 2%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: wrap;  */
  width: 100%
}
@media screen and (max-width: 1000px) {
  .movieCon {
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }
  .contentImg {
    height: 70vmin;
  }
  .container {
      display: none;
      }
}
.name {
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  color: white;
  overflow-x: auto;
  /* width: 100%; */
}

.movieList {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 1%;
  /* justify-content: center; */
  width: 120px;
  text-align: left;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}


/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282c34;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.container {
  position: relative;
  width: 60%;
  height: auto;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
}